/*when the screen size is lower then 1200 px the desktop nav disapear 
and instead show hamburger */
@media screen and (max-width: 1200px) {
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
        justify-content: space-between;
        padding: 0 3rem;
    }
}

/*sections*/ 
section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

/*profile section*/

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

